@use 'styles/variables';

.card {
    display: flex;

    width: 888px;
    height: 358px;

    padding: 24px;

    border: 1px solid rgba(16, 24, 40, 0.2);
    border-radius: 20px;

    &-img {
        width: 290px;
        height: 310px;

        object-fit: cover;

        border-radius: 10px;
    }

    &-information {
        margin-left: 24px;
    }
    
    &-header {
        display: flex;

        width: 526px;
    }

    &-title {
        margin-bottom: 8px;
        margin-right: auto;

        font-weight: 600;
        font-size: 24px;
        line-height: 1.25;
    }

    &-price {
        font-weight: 600;
        font-size: 24px;
        line-height: 1.25;
    }

    &-icon {
        &-star {
            margin-right: 4px;
        
            fill: #FFC531;
            stroke: #FFC531;
        }

        &-location {
            margin-left: 16px;
            margin-right: 4px;

            fill: #ffffff;
            stroke: variables.$primary-font-color;
        }
    }

    &-description {
        height: 20px;
        margin-top: 24px;

        overflow: hidden
    }

    &-equipment {
        display: flex;
        align-items: center;

        height: 96px;

        margin-top: 24px;
        margin-bottom: 24px;

        &-list {
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            gap: 8px;
        }

        &-item {
            display: flex;
            justify-content: center;
            align-items: center;

            height: 44px;
            padding: 12px 18px;

            border-radius: 100px;
            background-color: #F2F4F7;
        }

        &-btn {
            width: 40px;
            height: 40px;

            padding: 0;
            margin-left: auto;

            border: none;
            background-color: #ffffff;

            cursor: pointer;
        }
    }
}