@use 'styles/variables';

/* ================== MODAL WINDOW ================== */
.modal {
    &-backdrop {
        position: fixed;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
            visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

        background-color: rgba(46, 47, 66, 0.40);

        &.is-hidden {
            visibility: hidden;
            opacity: 0;
            pointer-events: none;
        }
    }

    &-window {
        position: absolute;
        top: 50%;
        left: 50%;
        padding: 40px;
        transform: translate(-50%, -50%);

        width: 982px;
        height: 720px;
        flex-shrink: 0;
        border-radius: 20px;
        box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20),
            0px 1px 3px 0px rgba(0, 0, 0, 0.12),
            0px 1px 1px 0px rgba(0, 0, 0, 0.14);

        background-color: #fcfcfc;

        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &-scroll {
            width: 902px;
            height: 500px;

            margin-top: 24px;

            overflow: auto;
            overflow-x: hidden;

            scrollbar-width: thin;
            scrollbar-color: #D9D9D9 transparent;
        }
    }

    &-btn {
        border: none;
        background-color: #ffffff;

        cursor: pointer;
    }

    &-icon {
        stroke: variables.$primary-color;

        transition: stroke 250ms variables.$timing-function;

        &:hover {
            stroke: variables.$active-color;

            transition: stroke 250ms variables.$timing-function;
        }
    }
}

.navigation {
    width: 902px;
    height: 48px;

    margin-top: 44px;

    border-bottom: solid 1px rgba(16, 24, 40, 0.2);

    &-list {
        display: flex;
        gap: 40px;

        font-weight: 600;
        font-size: 20px;
        line-height: 1.2;
        color: variables.$primary-color;
    }
    
    &-link {
        position: relative;
        display: block;
        color: variables.$primary-color;
    }
}

.current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -25px;

    width: 100%;
    height: 4px;
    flex-shrink: 0;

    background-color: variables.$active-color;
}

.card {
    &-title {
        margin-right: auto;

        font-weight: 600;
        font-size: 24px;
        line-height: 1.25;
    }

    &-header {
        display: flex;
        align-items: center;
        width: 902px;
        margin-bottom: 8px;
    }

    &-icon {
        &-star {
            margin-right: 4px;
        
            fill: #FFC531;
            stroke: #FFC531;
        }

        &-location {
            margin-left: 16px;
            margin-right: 4px;

            fill: #ffffff;
            stroke: variables.$primary-color;
        }
    }

    &-price {
        display: block;
        margin-top: 16px;

        font-weight: 600;
        font-size: 24px;
        line-height: 1.25;
    }

    &-gallery {
        display: flex;
        gap: 16px;
    }

    &-img {
        width: 290px;
        height: 310px;

        object-fit: cover;

        border-radius: 10px;

        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
                0px 1px 1px rgba(46, 47, 66, 0.16),
                0px 2px 1px rgba(46, 47, 66, 0.08);
    }

    &-description {
        height: 72px;
        margin-top: 24px;

        overflow: hidden;

        line-height: 1.5;
        color: #475467;
    }
}

.modal-input-wrapper {
    position: relative;
}
/* ================== /MODAL WINDOW ================== */