@use 'styles/variables';

.form {
    display: flex;
    flex-direction: column;

    color: rgba(16, 24, 40, 0.6);

    &-input {
        width: 360px;
        height: 56px;

        padding: 18px;
        padding-left: 44px;
        margin-top: 8px;

        background-color: #F7F7F7;

        border: none;
        border-radius: 8px;
        outline: transparent;

        &:focus {
            border: solid 1px #E44848;
        }

        &-wrapper {
            position: relative;
        }

        &::placeholder {
            font-size: 16px;
            line-height: 1.25;
            color: variables.$primary-color;
        }
    }

    &-icon {
        position: absolute;
        top: 40%;
        right: 90%;

        fill: #ffffff;
        stroke: variables.$primary-color;
    }
}
